@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    font-weight: 300;
    color: var(--white);
    scroll-behavior: smooth;
  }
  
body {
  background-color: var(--bg-dark-gray);
  font-family: var(--primary-font);
  font-size: var(--font-normal);   
}

.container {
  max-width: 1440px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.content-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.socials a {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  text-align: 1.8rem;
  text-align: center;
  margin: 0 .4rem;
  border-radius: 50%;
  transition: all .3s ease;
}

.socials a:hover {
  color: var(--primary-color);
}

.socials a i {
  line-height: 4rem;
}

.outer-shadow {
  box-shadow: .3rem .3rem #222327, -.3rem -.3rem .3rem #545454;
}

.inner-shadow {
  box-shadow: inset .3rem .3rem .3rem #222327,
              inset -.3rem -.3rem .3rem #454545 ;
}