@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    font-weight: 300;
    color: var(--white);
  }
  
body {
  background-color: var(--bg-dark-gray);
  font-family: var(--primary-font);
  font-size: var(--font-normal);   
}

.row {
  display: flex;
}

.content-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}