:root {
  --primary-color: #43bd8e;
  --secondary-color: #fd6c22;
  --white: #fff;
  --bg-dark: #040203;
  --bg-dark-gray: #282828;
  --bg-light-gray: #353535;
}

:root{
  --primary-font: "Poppins", sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --font-normal: 1.6rem;
  --font-big: 2.4rem;
  --font-bigger: 3rem;
  --font-giant: 4.5rem;
}

:root{ 
  --mobile-padding: 3rem;
}
